# Output Folder
out

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Patient files 
*.dcm
*.pat

# log files
statistics*
*.dat

# executables
bezea
uhv_adam
uhv_adam_hybrid
uhv_adam_sourcecode
uhv_classical_hybrid
uhv_hybrid_hard_switch
uhv_gomea
uhv_gomea_grad
uhv_grad
uhv_hybrid_naive
uhv_optimal
uhv_optimal_hybrid
uhv_switch
sofomore_gomea
mogomea
mamalgam
